.btn-circle-big {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  margin-top: 2px;
  margin-right: 1px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle-small {
  width: 10px;
  height: 10px;
  text-align: center;
  padding: 3px 0;
  margin-top: 21px;
  margin-bottom: 1px;
  margin-right: 1px;
  line-height: 1.428571429;
  border-radius: 5px; 
}

.btn-not-allowed {
  cursor: not-allowed;
}

.btn-red {
	background-color: red;
}

.btn-green {
	background-color: green;
}

.btn-black {
	background-color: black;
}

.btn-yellow {
	background-color: yellow;
}

.btn-orange {
	background-color: orange;
}

.btn-navy {
	background-color: navy;
}

.btn-purple {
	background-color: purple;
}

.btn-olive {
	background-color: olive;
}

.btn-white {
	background-color: white;
}

.btn-gray {
	background-color: #aaaaaa;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

body {
	background-color: #888; 
	padding-left: 100px; 
	padding-top: 10px;
}